.input {
    display: flex;
    flex-direction: column;

    .input__label {
        font-weight: 500;
        font-size: 2rem;
        margin-bottom: 5px;
    }

    .input__field {
        width: 100%;
        padding: 2px 0px;
        background-color: transparent;
        font-size: 20px;
        border: 1px solid transparent;
        border-bottom: 3px solid var(--line-solor);
        outline: none;
    }
}