.addExercises {
    margin: 1.6rem 0.8rem;
    display: flex;
    flex-direction: column;

    .addExercises__top {
        width: 100%;
        height: 7.5rem;

        .addExercises__top__title {
            font-size: 3rem;
            font-weight: 700;
            text-decoration: underline;
            text-decoration-color: var(--s-color);
            text-underline-offset: 10px;
        }
    }

    .addExercises__bottom {
        background-color: var(--main-color);
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 3rem 5rem;
        justify-content: baseline;
        border-radius: 50px;


        .addExercises__bottom__form {
            display: flex;

            @media(max-width:1100px) {
                flex-direction: column;
            }

            .addExercises__bottom__form__left {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                @media(max-width:1100px) {
                    flex-direction: row;
                    margin-bottom: 3rem;
                    justify-content: space-evenly;

                }

                .addExercises__bottom__form__left__top {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    font-size: 4rem;

                    .addExercises__bottom__form__left__top__file {
                        display: none;
                    }

                    .addExercises__bottom__form__left__top__icon {
                        background-color: var(--bc-light-color);
                        width: 15rem;
                        height: 15rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        margin-bottom: 2rem;
                        cursor: pointer;
                        padding: 1rem;

                        @media(max-width:1100px) {
                            width: 11rem;
                            height: 11rem;

                        }

                        .addExercises__bottom__form__left__top__icon__label {
                            cursor: pointer;
                            transition: 0.5s ease;

                        }




                    }

                    .addExercises__bottom__form__left__top__icon:hover {
                        .addExercises__bottom__form__left__top__icon__label {
                            color: red;
                            scale: 1.3;
                        }
                    }

                    .addExercises__bottom__form__left__top__text {
                        font-size: 3.5rem;
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

                        @media(max-width:1100px) {
                            font-size: 2rem;

                        }
                    }
                }
            }

            .addExercises__bottom__form__right {

                flex: 2;
                display: flex;
                row-gap: 7rem;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }



    }
}