:root {
  --bc-color: #151515;
  --main-color: #232323;
  --s-color: #6739FF;
  --txt-color: #F7F4FF;
  --line-solor: #C9C5C5;
  --bc-light-color: #313131;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;

  @media(max-width:1000px) {
    font-size: 8px;
  }

  @media(max-width:800px) {
    font-size: 5px;
  }


}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


body {
  font-family: 'Montserrat', sans-serif;
  color: var(--txt-color);
  background: var(--bc-color);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.mainStructure {
  display: flex;
}

.sidedrawer {
  display: flex;
  min-height: 100vh;

  /*
    GREEN COLOR AS INDICATGOR FOR CHANGE :))
    It causes some issues in the media query of [add/exercises] so have a look
     */
  @media(max-width:770px) {
    width: 20%;
    background-color: green;
  }
}

.content {
  flex: 1;
  padding: 20px;
}

.topbar {

  padding: 10px;
}