:root {
  --bc-color: #151515;
  --main-color: #232323;
  --s-color: #6739FF;
  --txt-color: #F7F4FF;
  --line-solor: #C9C5C5;
  --bc-light-color: #313131;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eee3e3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4b4343;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

html {
  font-size: 10px;

  @media(max-width:1000px) {
    font-size: 8px;
  }

  @media(max-width:800px) {
    font-size: 5px;
  }


}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


body {
  font-family: 'Montserrat', sans-serif;
  color: var(--txt-color);
  background: var(--bc-color);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.mainStructure {
  width: 100%;
  display: flex;
}

.sidedrawer {
  display: flex;
  min-height: 100vh;

}

.content {
  flex: 1;
  padding: 20px;
  width: 100%;
}

.topbar {

  padding: 10px;
}