.button {
    font-size: 2rem;
    border: 0;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
    border: 1px solid transparent;
    color: var(--txt-color);
    align-items: center;
}

.popular{
    background-color: var(--s-color);
    color: #ffff;
    border-radius: 20px;
    font-size: 16px;
}

.primary {
    background-color: navy;
}

.danger {
    background-color: red;
}

.success {
    background-color: green;
}

.small {
    padding: 15px 6rem;
}

.mediam {
    padding: 15px 12rem;
}
.meduim{
    padding: 14px 24px;
}

.large {
    padding: 15px 25rem;
}

.small:hover {
    padding: 15px 7rem;
}

.mediam:hover {
    padding: 15px 14rem;
}

.large:hover {
    padding: 15px 28rem;
}