.Feedbackcontainer{
    background-color: var(--main-color);
    background-image: linear-gradient(to right, rgba(103, 57, 255, 1), rgba(32, 32, 32, 0.71)), url('/images/Progress Bar.png');
    background-size: cover;   
     min-height: 270px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    max-width: 290px;
    gap: 30px;
    
}
.title{
    font-weight: 700;
}
.bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rating{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 250px;
    border-radius: 20px;
    background: linear-gradient(to right, rgba(57, 31, 140, 1), rgba(32, 32, 32, 0.71));

}
.scale span{
    font-weight: lighter;
    font-size: 9px;
}
.scale{
    display: flex;
    justify-content: space-between;

}
.appRating{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.appRating span:nth-child(1){
    font-weight: bolder;
    font-size: 22px;
}
.appRating span:nth-child(2){
    font-weight: 300;
    font-size: 9px;
}